<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zaproses</title>
</head>
<style>
    a {
        color: black;
        text-decoration: none;
        font-size: 30px;
    }
</style>
<body>
    <div align="center">
            <p><a href="{{url_for('zapros.zaprose1_input')}}">Запрос 1</a></p>
            <p><a href="{{url_for('zapros.zaprose2_input')}}">Запрос 2</a></p>
            <p><a href="http://127.0.0.1:5002">Выход в меню</a></p>
    </div>
</body>
</html>