{% extends 'Base.html' %}

{% block titel %}
Главное меню
{% endblock %}

{% block body %}
  <div class="container">
        <br>
        <h1>Главное меню</h1>
        <br>
        <p><a href="/Reserv">Работа с запросами</a></p>
        <br>
        <p><a href="/auth">Авторизация</a></p>
        <br>
        <p><a href="/basket">Резервирование товара</a></p>
        <br>
        <p><a href="/pay">Оплата заказа</a></p>
        <br>
        <a href="/exit">Завершить</a>
  </div>
{% endblock %}