{% extends 'Base.html' %}

{% block titel %}
Запросы
{% endblock %}

{% block body %}

<div class="container">
    <h5>Список запросов:</h5>
       <ul>
            <br><li> <a href="/Reserv/sql1"> Покажите шифры и названия товаров, которые покупатель с названием ХХХ покупал в апреле 2013 года.</a></li>
            <br><li> <a href="/Reserv/sql2"> Покажите сведения о самом дорогом товаре на складе, изготовленном из заданного материала.</a></li>
            <br><li> <a href="/Reserv/sql3"> Показать вcе сведения о покупателях, ни разу не сделавших заказ на покупку товаров в данном месяце данного года.</a></li>
        </ul>
        <br><a href="/">Выход в меню</a>
</div>
{% endblock %}